body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

#map {
	height: 100%;
	width: 100%;
	background-color: black;
}

.move-table {
	width: 100%;
	border-collapse: collapse;
	user-select: none;
	white-space: nowrap;
}
.move-table th, td {
	border: 1px solid #dddddd;
	text-align: right;
	padding: 3px;
	font-size: 12px;
}
.move-table th {
	background-color: #f2f2f2;
	font-size: 13px;
}
.move-table tr:nth-child(even) {
	background-color: #f9f9f9;
}

.move-table tr th:nth-child(3),td:nth-child(3) {
    text-align: left;
}

.move-table a {
    text-decoration: none;
}

.move-table a.header {
    color: inherit;
}

.move-table a.header-clickable {
    text-decoration: underline;
}

.move-table tbody a:hover {
    text-decoration: underline;
}

.move-table tr.highlighted-row {
    background-color: peachpuff;
}

.move-table tr td.rank-cell {
    cursor: pointer;
}

.move-table tr td.selected-rank-cell {
    background-color: turquoise;
}

.no-background-tooltip {
    background: transparent;      /* Make background transparent */
    border: none;                 /* Remove border */
    box-shadow: none;             /* Remove shadow */
    text-shadow: 1px 1px black, 1px -1px  black, -1px 1px black, -1px -1px black;
    color: white; /* Set text color */
    font-size: 12px; /* Set font size */
    font-family: Arial, sans-serif;
}

.no-background-tooltip::before { /* Remove the tooltip arrow */
    border: none;
}

/* Additional style adjustments if needed */
.no-background-tooltip .leaflet-tooltip-content {
    padding: 0; /* Remove padding */
}

#runlist-dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#runlist-dropdown ul li {
    padding: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
    cursor: pointer;
}

#runlist-dropdown ul li:hover {
    background-color: #f0f0f0;
}

#runlist-dropdown ul li.highlighted-row {
    background-color: peachpuff;
}

#compare_table tr td {
	border: none;
	font-size: 14px;
	color: white;
	padding: 0px;
	font-weight: bold;
}

#compare_table tr td.movement span:hover {
	text-decoration: underline;
    cursor: pointer;
}

#compare_table tr td.movement span span.shrine {
	color: mediumpurple;
}

#compare_table tr td.movement span span.korok {
	color: palegreen;
}

#compare_table tr td.movement span span.tower {
	color: turquoise;
}

#compare_table tr td.movement span span.memory {
	color: steelblue;
}

#compare_table tr td.movement span span.npc {
	color: lightcyan;
}

#compare_table tr td.movement span span.divinebeast {
	color: dodgerblue;
}

#compare_table tr td.movement span span.monument {
	color: Gainsboro;
}

#compare_table tr td.movement span span.keyitem {
	color: orange;
}

#compare_table td.fastest {
	color: rgb(216, 175, 31);
}

#compare_table td.faster {
	color: rgb(0, 204, 54);
}

#compare_table td.slower {
	color: rgb(204, 18, 0);
}

#compare_table td.na {
	color: white;
}

#compare_table tr.selected td:nth-child(3) {
	border-left: 1px solid lightgray;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	background-color: rgba(128,128,128,0.25);
}

#compare_table tr.selected td:nth-child(4),
#compare_table tr.selected td:nth-child(5) {
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	background-color: rgba(128,128,128,0.25);
}

#compare_table tr.selected td:nth-child(6) {
	border-right: 1px solid lightgray;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	background-color: rgba(128,128,128,0.25);
}
